.profile__subtitle{
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 720px){
  .profile__subtitle{
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (720 - 320)));
  }
}
