.popup__button-validate{
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  padding: 0;
  margin-top: 48px;
  font-size: 18px;
  line-height: 1.21;
  border: 0;
  margin-top: 19px;
}

.popup__button-validate:hover{
opacity: 0.8;
}

@media (max-width: 720px){
  .popup__button-validate{
    min-height: 46px;
    font-size: 14px;
  }
}
