.saveimage{
  width: 150px;
  height: 48px;
  font-size: 24px;
  background-color: transparent;
  color: #fff;
  border:2px solid #fff;
  padding: 0;
}

@media (max-width: 900px){
  .saveimage{
    width: calc(282px - (150 + 1) * ((100vw - 320px) / (900 - 320)));
  }
}
