.profile__info{
  display: grid;
  align-items: center;
  grid-template-columns:auto 24px;
  gap: 8px 18px;
}

@media (max-width: 720px){
  .profile__info{
    justify-items: center;
    grid-template-columns: auto 50px;
    gap: 10px 0px;
    align-self: flex-end;
  }
}
